# IDE
.idea
.vscode

# Dependencies
node_modules/

# Build output
dist/
build/

# Rust / WASM
target/
*.wasm
test_snapshots/

# Environment variables
.env
!.env.example

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# Documents
docs/demo.md
docs/tests
