@import "tailwindcss";

@theme {
  --color-primary: #1F75FE;
  --color-primary-50: #EBF2FF;
  --color-primary-100: #D6E6FF;
  --color-primary-200: #ADCCFF;
  --color-primary-300: #85B3FF;
  --color-primary-400: #5C99FF;
  --color-primary-500: #1F75FE;
  --color-primary-600: #0A5FE8;
  --color-primary-700: #084BC4;
  --color-primary-800: #063799;
  --color-primary-900: #04236E;

  --font-sans: 'Inter';
}

@layer base {
  * {
    box-sizing: border-box;
  }

  body {
    @apply bg-gray-950 text-white antialiased;

    font-family: var(--font-sans), sans-serif;
  }

  button {
    cursor: pointer;
  }

  button:disabled {
    cursor: default;
  }

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-gray-900;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-gray-700 rounded-full;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-600;
  }
}