VITE_API_URL=http://localhost:3000

# Stellar / smart-account-kit (testnet)
VITE_SOROBAN_RPC_URL=https://soroban-testnet.stellar.org
VITE_STELLAR_NETWORK_PASSPHRASE=Test SDF Network ; September 2015
VITE_ACCOUNT_WASM_HASH=8537b8166c0078440a5324c12f6db48d6340d157c306a54c5ea81405abcc2611
VITE_WEBAUTHN_VERIFIER_ADDRESS=CCMR63YE5T7MPWREF3PC5XNTTGXFSB4GYUGUIT5POHP2UGCS65TBIUUU
VITE_NATIVE_TOKEN_CONTRACT=CDLZFC3SYJYDZT7K67VZ75HPJVIEUVNIXF47ZG2FB2RMQQVU2HHGCYSC
